MultiplayerWordscrambleClientJS/Service References/WordScrambleMPClient/MultiplayerWordscrambleJS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MultiplayerWordscrambleJS" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MultiplayerWordscrambleJS" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="GameBeingHostedFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="HostPlayer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GameBeingHostedFault" nillable="true" type="tns:GameBeingHostedFault" />
  <xs:complexType name="Word">
    <xs:sequence>
      <xs:element minOccurs="0" name="ScrambledWord" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UnscrambledWord" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Word" nillable="true" type="tns:Word" />
  <xs:complexType name="HostCannotJoinTheGameFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HostCannotJoinTheGameFault" nillable="true" type="tns:HostCannotJoinTheGameFault" />
  <xs:complexType name="GameIsNotBeingHostedFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GameIsNotBeingHostedFault" nillable="true" type="tns:GameIsNotBeingHostedFault" />
  <xs:complexType name="MaximumNumberOfPlayersReachedFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="Capacity" type="xs:int" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MaximumNumberOfPlayersReachedFault" nillable="true" type="tns:MaximumNumberOfPlayersReachedFault" />
  <xs:complexType name="PlayerAlreadyInGameFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PlayerAlreadyInGameFault" nillable="true" type="tns:PlayerAlreadyInGameFault" />
  <xs:complexType name="PlayerNotPlayingTheGameFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PlayerNotPlayingTheGameFault" nillable="true" type="tns:PlayerNotPlayingTheGameFault" />
  <xs:complexType name="WordMismatchFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="ClientScrambled" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ServerScrambled" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WordMismatchFault" nillable="true" type="tns:WordMismatchFault" />
</xs:schema>