MultiplayerWordscrambleClientJS/Service References/WordScrambleMPClient/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WordScrambleGame" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/MultiplayerWordscrambleJS" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWordScrambleGame_IsGameBeingHosted_InputMessage">
    <wsdl:part name="parameters" element="tns:IsGameBeingHosted" />
  </wsdl:message>
  <wsdl:message name="IWordScrambleGame_IsGameBeingHosted_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsGameBeingHostedResponse" />
  </wsdl:message>
  <wsdl:message name="IWordScrambleGame_HostGame_InputMessage">
    <wsdl:part name="parameters" element="tns:HostGame" />
  </wsdl:message>
  <wsdl:message name="IWordScrambleGame_HostGame_OutputMessage">
    <wsdl:part name="parameters" element="tns:HostGameResponse" />
  </wsdl:message>
  <wsdl:message name="IWordScrambleGame_HostGame_GameBeingHostedFaultFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/MultiplayerWordscrambleJS" name="detail" element="q1:GameBeingHostedFault" />
  </wsdl:message>
  <wsdl:message name="IWordScrambleGame_Join_InputMessage">
    <wsdl:part name="parameters" element="tns:Join" />
  </wsdl:message>
  <wsdl:message name="IWordScrambleGame_Join_OutputMessage">
    <wsdl:part name="parameters" element="tns:JoinResponse" />
  </wsdl:message>
  <wsdl:message name="IWordScrambleGame_Join_HostCannotJoinTheGameFaultFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/MultiplayerWordscrambleJS" name="detail" element="q2:HostCannotJoinTheGameFault" />
  </wsdl:message>
  <wsdl:message name="IWordScrambleGame_Join_GameIsNotBeingHostedFaultFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/MultiplayerWordscrambleJS" name="detail" element="q3:GameIsNotBeingHostedFault" />
  </wsdl:message>
  <wsdl:message name="IWordScrambleGame_Join_MaximumNumberOfPlayersReachedFaultFault_FaultMessage">
    <wsdl:part xmlns:q4="http://schemas.datacontract.org/2004/07/MultiplayerWordscrambleJS" name="detail" element="q4:MaximumNumberOfPlayersReachedFault" />
  </wsdl:message>
  <wsdl:message name="IWordScrambleGame_Join_PlayerAlreadyInGameFaultFault_FaultMessage">
    <wsdl:part xmlns:q5="http://schemas.datacontract.org/2004/07/MultiplayerWordscrambleJS" name="detail" element="q5:PlayerAlreadyInGameFault" />
  </wsdl:message>
  <wsdl:message name="IWordScrambleGame_GuessWord_InputMessage">
    <wsdl:part name="parameters" element="tns:GuessWord" />
  </wsdl:message>
  <wsdl:message name="IWordScrambleGame_GuessWord_OutputMessage">
    <wsdl:part name="parameters" element="tns:GuessWordResponse" />
  </wsdl:message>
  <wsdl:message name="IWordScrambleGame_GuessWord_PlayerNotPlayingTheGameFaultFault_FaultMessage">
    <wsdl:part xmlns:q6="http://schemas.datacontract.org/2004/07/MultiplayerWordscrambleJS" name="detail" element="q6:PlayerNotPlayingTheGameFault" />
  </wsdl:message>
  <wsdl:message name="IWordScrambleGame_GuessWord_WordMismatchFaultFault_FaultMessage">
    <wsdl:part xmlns:q7="http://schemas.datacontract.org/2004/07/MultiplayerWordscrambleJS" name="detail" element="q7:WordMismatchFault" />
  </wsdl:message>
  <wsdl:portType name="IWordScrambleGame">
    <wsdl:operation name="IsGameBeingHosted">
      <wsdl:input wsaw:Action="http://tempuri.org/IWordScrambleGame/IsGameBeingHosted" message="tns:IWordScrambleGame_IsGameBeingHosted_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWordScrambleGame/IsGameBeingHostedResponse" message="tns:IWordScrambleGame_IsGameBeingHosted_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="HostGame">
      <wsdl:input wsaw:Action="http://tempuri.org/IWordScrambleGame/HostGame" message="tns:IWordScrambleGame_HostGame_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWordScrambleGame/HostGameResponse" message="tns:IWordScrambleGame_HostGame_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IWordScrambleGame/HostGameGameBeingHostedFaultFault" name="GameBeingHostedFaultFault" message="tns:IWordScrambleGame_HostGame_GameBeingHostedFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Join">
      <wsdl:input wsaw:Action="http://tempuri.org/IWordScrambleGame/Join" message="tns:IWordScrambleGame_Join_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWordScrambleGame/JoinResponse" message="tns:IWordScrambleGame_Join_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IWordScrambleGame/JoinHostCannotJoinTheGameFaultFault" name="HostCannotJoinTheGameFaultFault" message="tns:IWordScrambleGame_Join_HostCannotJoinTheGameFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IWordScrambleGame/JoinGameIsNotBeingHostedFaultFault" name="GameIsNotBeingHostedFaultFault" message="tns:IWordScrambleGame_Join_GameIsNotBeingHostedFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IWordScrambleGame/JoinMaximumNumberOfPlayersReachedFaultFault" name="MaximumNumberOfPlayersReachedFaultFault" message="tns:IWordScrambleGame_Join_MaximumNumberOfPlayersReachedFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IWordScrambleGame/JoinPlayerAlreadyInGameFaultFault" name="PlayerAlreadyInGameFaultFault" message="tns:IWordScrambleGame_Join_PlayerAlreadyInGameFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GuessWord">
      <wsdl:input wsaw:Action="http://tempuri.org/IWordScrambleGame/GuessWord" message="tns:IWordScrambleGame_GuessWord_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWordScrambleGame/GuessWordResponse" message="tns:IWordScrambleGame_GuessWord_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IWordScrambleGame/GuessWordPlayerNotPlayingTheGameFaultFault" name="PlayerNotPlayingTheGameFaultFault" message="tns:IWordScrambleGame_GuessWord_PlayerNotPlayingTheGameFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IWordScrambleGame/GuessWordWordMismatchFaultFault" name="WordMismatchFaultFault" message="tns:IWordScrambleGame_GuessWord_WordMismatchFaultFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IWordScrambleGame" type="tns:IWordScrambleGame">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="IsGameBeingHosted">
      <soap:operation soapAction="http://tempuri.org/IWordScrambleGame/IsGameBeingHosted" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HostGame">
      <soap:operation soapAction="http://tempuri.org/IWordScrambleGame/HostGame" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="GameBeingHostedFaultFault">
        <soap:fault use="literal" name="GameBeingHostedFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Join">
      <soap:operation soapAction="http://tempuri.org/IWordScrambleGame/Join" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="HostCannotJoinTheGameFaultFault">
        <soap:fault use="literal" name="HostCannotJoinTheGameFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="GameIsNotBeingHostedFaultFault">
        <soap:fault use="literal" name="GameIsNotBeingHostedFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="MaximumNumberOfPlayersReachedFaultFault">
        <soap:fault use="literal" name="MaximumNumberOfPlayersReachedFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="PlayerAlreadyInGameFaultFault">
        <soap:fault use="literal" name="PlayerAlreadyInGameFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GuessWord">
      <soap:operation soapAction="http://tempuri.org/IWordScrambleGame/GuessWord" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="PlayerNotPlayingTheGameFaultFault">
        <soap:fault use="literal" name="PlayerNotPlayingTheGameFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="WordMismatchFaultFault">
        <soap:fault use="literal" name="WordMismatchFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WordScrambleGame">
    <wsdl:port name="BasicHttpBinding_IWordScrambleGame" binding="tns:BasicHttpBinding_IWordScrambleGame">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/MultiplayerWordscrambleJS/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>